body{
    background-image: url('space.jpg');
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

h1{
    color:#FF6F61;
    font-size:50px;
    text-align: center;
    margin-top: 10%;
   
}

form{
    text-align: center;
}

input{
    height:20px;
    text-align: center;
}

button{
    border:3px solid black;
    display: flex;
    height:30px;
    width:50px;
    margin: 0 auto;
    margin-top: 0.5%;
    justify-content: center;
    
   
   
   
}

span{
    font-size:12px;
    align-self: center;
    
    
    
    
}

::placeholder {
    font-size: 0.9em;
    color:black;
  }

  h2{
      text-align: center;
      color:pink;
      

  }